@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #effafa;
  font-size: 1.5rem;
  font-family: "Spartan", sans-serif;
}

div.hide {
  display: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 25vh;
  background-color: #5ba4a4;
  background-image: url(./images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  header {
    height: 20vh;
    background-image: url(./images/bg-header-desktop.svg);
  }
}

.filter-box {
  padding: 2rem 2rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -4rem;
}

@media screen and (min-width: 1200px) {
  .filter-box {
    padding: 1.5rem 3rem;
    margin-top: -3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.filter-box .filters .filter {
  display: inline-block;
  background-color: #effafa;
  color: #5ba4a4;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
  .filter-box .filters .filter {
    margin-bottom: 0;
  }
}

.filter-box .filters .filter span {
  padding: 1rem;
}

.filter-box .filters .filter .delete {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  background-color: #5ba4a4;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
}

.filter-box .filters .filter .delete:hover {
  background-color: #2c3a3a;
}

.filter-box .clear-filters {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: darkgray;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: auto;
}

.filter-box .clear-filters:hover {
  color: #5ba4a4;
  border-bottom: 1px solid #5ba4a4;
}

.job-listings {
  padding: 6rem 0 4rem;
}

.job-item {
  margin-bottom: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 3rem 1.5rem;
  position: relative;
}

.job-item:first-of-type, .job-item:nth-of-type(2) {
  border-left: 5px solid #5ba4a4;
}

.job-item:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .job-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 5rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
  }
}

.job-item .company-logo {
  width: 20%;
  position: relative;
  margin-top: -5rem;
}

@media screen and (min-width: 600px) {
  .job-item .company-logo {
    width: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .job-item .company-logo {
    position: static;
    margin-top: 0;
    margin-right: 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
  }
}

.job-item .company-logo img {
  width: 100%;
}

.job-item .name-and-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

@media screen and (min-width: 1200px) {
  .job-item .name-and-status {
    margin-top: 0;
  }
}

.job-item .company-name {
  font-weight: bold;
  color: #5ba4a4;
  margin-right: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.job-item .post-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job-item .post-status span {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  display: block;
  font-size: 1.2rem;
}

.job-item .post-status .new-post {
  background-color: #5ba4a4;
  margin-right: 0.6rem;
}

.job-item .post-status .featured-post {
  background-color: #2c3a3a;
}

.job-item .role {
  margin-top: 1.5rem;
  color: #2c3a3a;
  font-weight: bold;
  cursor: pointer;
}

.job-item .role:hover {
  color: #5ba4a4;
}

.job-item .date-and-location {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job-item .date-and-location li {
  color: lightgray;
  margin-left: 2rem;
  font-weight: 500;
}

.job-item .date-and-location li:first-of-type {
  list-style-type: none;
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  .job-item hr {
    display: none;
  }
}

.job-item .role-languages-and-tools {
  margin-top: 1rem;
}

@media screen and (min-width: 1200px) {
  .job-item .role-languages-and-tools {
    margin-top: 0;
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.job-item .role-languages-and-tools span {
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #effafa;
  color: #5ba4a4;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.job-item .role-languages-and-tools span:hover {
  background-color: #5ba4a4;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .job-item .role-languages-and-tools span {
    cursor: pointer;
  }
}

.attribution {
  padding: 3rem 0;
  text-align: center;
}

.attribution p {
  line-height: 3rem;
}

.attribution a {
  color: #5ba4a4;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */